*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    .header-top{
        width: 100%;
        height: 40px;
        background-color: #545454;
        .container{
            .row{
                .col-lg-6{
                    .contact-envelop{
                        margin:5px 0px;
                        i{
                            color: #e96b56;
                        }

                        a{
                            text-decoration:none;
                            color: white;
                        }
                        a:hover{
                            color: #e96b56;
                        }
                    }

                    .contact-phone{
                        margin:5px 0px;
                        i{
                            color: #e96b56;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        a:hover{
                            color: #e96b56;
                        }
                    }

                }

                .col-lg-6{
                    .socialmedia{
                        ul{
                            margin:2px 0px;
                            li{
                                margin: 5px;
                                list-style: none;
                                a{
                                    text-decoration:none;
                                    i{
                                        color: #bababa;
                                    }
                                    i:hover{
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom{
        .container{
            .row{
                .col-lg-4{
                    .logo{
                        display: flex;
                        margin: 15px 0px;
                        span{
                            display:inline-block;
                            width: 9px;
                            height: 25px;
                            background-color: #e96b56;
                        }
                        h2{
                            a{
                                text-decoration: none;
                                color: #545454;;
                            }
                        }
                    }
                }
                .col-lg-8{
                    nav{
                        margin: 20px 0px;
                        ul{
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: #545454;
                                }
                                a:hover{
                                    color:#e96b56;
                                }
                            }
                            .dropdown{
                                position: relative;
                                display: inline-block;
                                
                                .dropdown-content{
                                    display: none;
                                    position: absolute;
                                    background-color: white;
                                    min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                    z-index: 1;

                                    li{
                                        a{
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                        }
                                    }
                
                                }
                            }

                            .dropdown:hover{
                                
                                .dropdown-content{
                                    display: block;
                                    li{
                                        a{
                                            background-color: white;
                                        }
                                        a:hover{
                                            color: #e96b56;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


main{
    #servicelink{
        background-color: #f7f7f7;;
        .container{
            .row{
                ul{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: #e96b56;;
                        }
                    }

                    span{
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                h2{

                }
            }
        }
    }

    #service-box{
        margin: 50px 0px;
        .container{
            .row{
                .col-lg-4{
                    .box{
                        border: 1px solid #ededed;
                        text-align: center;
                        width: 100%;
                        height: 330px;
                        padding: 80px 20px;
                        transition: all ease-in-out 0.3s;
                        .icon{
                            width: 64px;
                            height: 64px;
                            background-color: #e96b56;
                            padding: 20px 10px;
                            margin: 0px 150px 20px;
                            border-radius: 5px;
                            box-shadow:-6px -5px 2px 1px #fbe2dd;;
                            i{
                                color: white;
                                font-size: 20px;
                            }
                        }
                        .icon-about{
                            h4{

                            }
                            p{

                            }
                        }
                    }
                    .box:hover{
                        background-color: #e96b56;
                        .icon{
                            background-color: #f7f7f7;
                            i{
                                color: #e96b56;
                            }
                        }

                        .icon-about{
                            h4{
                                color: #f7f7f7;
                            }
                            p{
                                color: #f7f7f7;
                            }

                        }

                    }
                }
            }
        }
    }

    #section-title{
        .container{
            .row{
                .title{
                    text-align: center;
                    h2{
                        margin: 0px;
                    }
                    span{
                        display: inline-block;
                        width: 50px;
                        height: 3px;
                        background-color: #e96b56;   
                    }
                    p{
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    #section-istatic{
        .container{
            .row{
                .col-lg-6{
                    .istatic-image{
                        width: 630px;
                        height: 420px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .col-lg-6{
                    .progress{
                        margin-bottom: 35px;

                        .progress-bar{
                            background-color: red;
                        }
                    }
                    
                }
            }
        }
    }

}

footer{
    #search-section{
        width: 100%;
        height: 150px;
        background-color: #474747;
        padding: 0px;
        margin: 0px;
        .container{
            .row{
                .col-lg-6{
                    .search-about{
                        h4{
                            color: white;
                        }
                        p{
                            color: white;   
                        }
                    }
                }
                .col-lg-6{
                    .input-search{
                        
                        input{
                            width: 550px;
                            height: 48px;
                            position: relative;
                            border-radius: 20px;
                        }
                        button{
                            position: absolute;
                            right: 200px;
                            width: 110px;
                            height: 40px;
                            border-radius: 20px;
                            margin: 4px 0;
                            background-color: #e96b56;
                            border: none;
                            color: white;
                        }
                    }
                }
            }

        }
    }


   #footer-about{ 
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 300px;
    background-color: #3b3b3b;;
        .container{
            padding: 50px 0px;
            .row{
                .col-lg-3{
                    .useful{
                        h4{
                            color: white;

                        }
                        ul{
                            margin: 0px;
                            padding: 0px;
                            li{
                                list-style: none;
                                margin: 10px 0px;
                                i{
                                    font-size: 10px;
                                    margin-right: 6px;
                                    color: #e96b56;
                                }
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                                a:hover{
                                    color: #e96b56;
                                }
                            }
                        }
                        
                    }
                    .SERVICES-footer{
                        h4{
                            color: white;

                        }
                        ul{
                            margin: 0px;
                            padding: 0px;
                            li{
                                margin: 10px 0px;
                                list-style: none;
                                i{
                                    font-size: 10px;
                                    margin-right: 6px;
                                    color: #e96b56;
                                }
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                                a:hover{
                                    color: #e96b56;
                                }
                            }
                        }

                    }

                }
            }
        }

      
   }
}
